*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.b-container{
    background-color: rgb(146, 110, 57);
}
.b-container main h2{
    font-family: 'Counter-Strike', sans-serif;
    text-align: center;
}
.b-container main div {
    display: flex;
    justify-content: center;
    font-family: 'Counter-Strike', sans-serif;
}
.b-container main div h1{
    padding-top:  4rem;
    font-size: 50px;
}
.b-container main div h3{
    padding-top: 2rem;
    font-size: 30px;
}
.b-container main div a img{
 width: 200px;
 padding: 3rem;
}
.rulesList ol li{
    padding: 5px;
    margin: 3.5px;
    font-size: 17px;
}
.inferno {
    background-image: url('../img/inferno1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.mirage{
    background-image: url('../img/mirage1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.nuke{
    background-image: url('../img/nuke1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.container {
    position: relative; /* Importante para que z-index funcione */
    text-align: center; /* Centrar contenido horizontalmente */
}
.diana{
    width: 50px;
    height: 50px;
    background-color: #ff0000db;
    border-radius: 50px;
    margin: 3.5rem 0 0 0;
    animation: moveAnimation 1.95s linear infinite alternate;
}
.pDiana{
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    margin: 12.5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dianaP{
    width: 12.5px;
    height: 12.5px;
    background-color: #ff0000db;
    border-radius: 50px;
    z-index: 0;
}
@keyframes moveAnimation{
    0% {
        transform: translateX(0); 
      }
    100% {
        transform: translateX(1200px); 
    }
}
.terrorist{
    padding: 0 0 0 10rem;
}

.terrorist img{
    width: 200px;
}
.containerDiana{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
}
.containerTerrorist{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1;
}
.teemo img{
    width: 150px;
}
.hidden{
    display: none;
}
.down{
    transform: rotate(90deg); 
    opacity: 0;
    transition: transform 2s ease, opacity 0.5s ease;
}
.pointer{
    cursor: pointer;
}
.inptArma{
    background-color: rgb(120, 84, 84);
    width: 350px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: relative;
}
